{% extends "bootstrap_3_layout.html.twig" %}

{% block text_widget %}
    {% if prepend is defined %}
        <div class="input-group">
            <span class="input-group-addon">{{ prepend }}</span>
            {{- block('form_widget_simple') -}}
        </div>
    {% elseif append is defined %}
        <div class="input-group">
            {{- block('form_widget_simple') -}}
            <span class="input-group-addon">{{ append }}</span>
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{% endblock %}

{% block number_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' number')|trim}) -%}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block integer_widget -%}
    {% if prepend is defined %}
        <div class="input-group input-number">
            <span class="input-group-addon">{{ prepend }}</span>
            {{- parent() -}}
        </div>
    {% elseif append is defined %}
        <div class="input-group input-number">
            {{- parent() -}}
            <span class="input-group-addon">{{ append }}</span>
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block percent_widget -%}
    <div class="input-group input-percent">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">{{ append|default('%') }}</span>
    </div>
{%- endblock percent_widget %}

{% block money_widget -%}
    <div class="input-group input-money">
        {% set prepend = '{{' == money_pattern[0:2] %}
        {% if not prepend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if prepend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
    </div>
{%- endblock money_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' input-date')|trim}) %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock date_widget %}

{% block gender_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' input-gender')|trim}) %}
    {{- block('choice_widget_collapsed') -}}
{%- endblock %}

{% block iban_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' input-iban')|trim}) %}
    {{- block('form_widget_simple') -}}
{%- endblock %}

{% block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = 'action.' ~ name %}
        {%- endif -%}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon|default(false) %}{{ icon(icon) }}{% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock %}

{% block submit_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-success'))|trim}) %}
    {% set icon = 'check-circle' %}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}

    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    {%- if placeholder is not none -%}
        {% set placeholder = placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
        {% set attr = attr|merge({'data-placeholder': placeholder}) %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %} class="placeholder">{{ placeholder }}</option>
        {% endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{% block checkbox_widget -%}
    {% if label %}
        {{- parent() -}}
    {% else -%}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {%- endif %}
{%- endblock checkbox_widget %}

{%- block widget_attributes -%}
    {% set required = false %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><i class="fa fa-exclamation-triangle"></i> {{ error.message }}</li>
            {%- endfor -%}
        </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{%- block form_rest -%}
    {% set buttons = false %}
    {% for child in form -%}
        {% if not child.rendered %}
            {% if 'button' != child.vars.block_prefixes.0 %}
                {{- form_row(child) -}}
            {% else %}
                {% set buttons = true %}
            {% endif %}
        {% endif %}
    {%- endfor %}
    {% if buttons %}
        <div class="form-group form-buttons">
            {% for child in form -%}
                {% if not child.rendered and 'button' == child.vars.block_prefixes.0 %}
                    {{- form_widget(child) -}}
                {% endif %}
            {%- endfor %}
        </div>
    {% endif %}
{% endblock form_rest %}

{%- block form_rows -%}
    {{ block('form_rest') }}
{%- endblock form_rows -%}
